.cube {
  position: absolute;
  cursor: pointer;
}

.cube > span {
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: inherit;
}

.cube-red {
  background-color: var(--red);
}

.cube-green {
  background-color: var(--green);
}

.cube-yellow {
  background-color: var(--yellow);
}

.cube-blue {
  background-color: var(--blue);
}

.cube-black {
  background-color: #000;
}
